
.form-label{
    width: available;
    align-self: start;
    text-align: left;
    font-size: 15px;
}
.invalid-feedback{
    font-size: 15px;
    padding-left: 2px;
}
.gap{
    display: block;
    min-height: 38px;
}
.form-control*{
    width: available;
}
.form-container{
    width: 300px
}